@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br/>
<h3>@Model.Message</h3>

<p>This application will retrieve, display and temporarily cache weather forcast data for the address provided.</p>
